# macOS
.DS_Store

# Various STM32CubeIDE build and user files
*.o 
*.d
*.elf
*.bin
*.list
*.map
*.su

# Release and Debug Folders
C/SPI/Release 
C/SPI/Debug

C/I2C/Release 
C/I2C/Debug

CPP/SPI/Release
CPP/SPI/Debug

CPP/I2C/Release
CPP/I2C/Debug